<div style="text-align: center; ;color:black;">
<p class="lead mb-3">Welcome <%= user.name %></p>
<p class="lead mb-3">Email id is: <%= user.email %></p>
<p class="lead mb-3">Gender : <%= user.gender %></p>
<p class="lead mb-3">Date of Birth : <%= user.dob %></p>
<p class="lead mb-3">Name of your Institution : <%= user.Inst %></p>
<p class="lead mb-3">Phone Number : <%= user.phn %></p>
<p class="lead mb-3">Aadhar Number : <%= user.adhr %></p>

</div>

