<div class="row mt-5">
  <div class="col-md-10 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <% include ./partials/messages %>
        <form action="/users/register" method="POST">
          
          <div class="form-group">
            <label for="name">Name</label>
            <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>" />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
          </div>
           <div class="form-group">
            <label for="gender">Gender:</label><br>
            <input type="radio" id="Male" name="gender" value="Male" 
              value="<%= typeof gender != 'undefined' ? gender : '' %>" /> 
            <label for="male">Male</label><br>
            <input type="radio" id="Female" name="gender" value="Female" 
              value="<%= typeof gender != 'undefined' ? gender : '' %>" />
            <label for="female">Female</label><br>
            <input type="radio" id="Other" name="gender" value="Other" 
              value="<%= typeof gender != 'undefined' ? gender : '' %>" />
            <label for="other">Other</label><br>
          </div> 
          <div class="form-group">
            <label for="designation">Designation:</label><br>
            <select id="designation" name="designation">
              <option value="Professor">Professor</option>
              <option value="Project Manager">Project Manager</option>
              <option value="Student">Student</option>
              <option value="Intern">Intern</option>
            </select><br>
          </div>
           <div class="form-group">
            <label for="dob" class="required">Date of Birth:</label><br>
            <input type="date" id="dob" name="dob" min="1995-01-01" max="2015-12-31" class="form-control"
              value="<%= typeof dob != 'undefined' ? dob : '' %>" /><br>
          </div>
           <div class="form-group">
            <label for="Inst">Name of your Institution</label>
            <input type="Inst" id="Inst" name="Inst" class="form-control" placeholder="Institute name"
              value="<%= typeof Inst!= 'undefined' ? Inst : '' %>" />
          </div> 
          <div class="form-group">
            <label for="Phone number">Phone Number</label>
            <input type="number" id="phn" name="phn" class="form-control" placeholder="Enter your Phone number" pattern="[7-9]{1}[0-9]{9}"
              value="<%= typeof phn!= 'undefined' ? phn : '' %>" />
          </div> 
          <div class="form-group">
            <label for="Aadharnumber">Aadhar Number</label>
            <input type="text" id="adhr" name="adhr" class="form-control" placeholder="Enter your aadhar number"
              value="<%= typeof adhr!= 'undefined' ? adhr : '' %>" />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>